body {
    counter-reset: h1-counter 0;
    margin: 2rem 1rem;
    font-size: 1rem;
}

h1 {
    counter-reset: h2-counter 0;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
}

h1::before {
    counter-increment: h1-counter;
    content: counter(h1-counter) ". ";
}

h2 {
    counter-reset: h3-counter 0;
    font-size: 1rem;
    font-weight: 500;
}

h2::before {
    counter-increment: h2-counter;
    content: counter(h1-counter) "." counter(h2-counter) ". ";
}

h3 {
    counter-reset: h4-counter 0;
    font-size: 1rem;
    font-weight: 500;
}

h3::before {
    counter-increment: h3-counter;
    content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) ". ";

}

.display {
    text-align: center;
    font-size: 1.2rem;
}